main{
    background-color: var(--back-ground);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#form-header h2{
    color: var(--principal-color);
    font-size: 25pt;
}

.form{
    display: flex;
    gap: 100px;
}

.form-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-right{
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.form label{
    display: none;
}

.form input{
    border-radius: 5px;
    padding: 20px;
    border: 1px solid var(--principal-color);
    width: 300px;
    
}

.form input:focus{
    outline: 2px solid var(--principal-color);
}

::placeholder{
    font-size: 13pt;
}

.form-button{
    border: 1px solid var(--principal-color);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--principal-color);
    color: var(--back-ground);
    width: 200px;
    cursor: pointer;
    font-size: 13pt;
}

@media only screen and (max-device-width: 700px){
    .form{
        flex-direction: column;
        gap: 15px;
    }
}